/*popular menu*/
.popular-menu.segments {
  padding-top: 26px;
  padding-bottom: 30px;
  min-height: 100vh;
}

.popular-menu .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.empty-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.empty-icon {
  width: 200px;
}

.skeleton {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skeleton-element {
  padding: 0 0.2rem 0 0;
}

.popular-menu .content .fig {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 17rem;
  min-width: 17rem;
  height: 10rem;
  border-radius: 6px;
  display: inline-block;
  margin-top: 1rem;
}

@media (max-width: 800px) {
  .popular-menu .content .fig {
    width: 15rem;
    min-width: 15rem;
  }
}

@media (max-width: 470px) {
  .popular-menu .content .fig {
    width: 13rem;
    min-width: 13rem;
  }

  .popular-menu .content .text {
    margin-top: 1rem;
  }
}

@media (max-width: 410px) {
  .popular-menu .content {
    margin-bottom: 1rem;
  }
  .popular-menu .content .fig {
    width: 10.5rem;
    min-width: 10.5rem;
    margin-top: 0.5rem;
  }

  .popular-menu .content .text h4 {
    font-size: 14px !important;
  }

  .popular-menu .content .text span {
    font-size: 14px !important;
  }

  .popular-menu .content .text .price {
    font-size: 12px !important;
  }
}

.popular-menu .content .text {
  padding-top: 10px;
  display: inline-block;
  padding-left: 1rem;
}

.popular-menu .content .text h4 {
  margin-bottom: 0;
  font-size: 15px;
  color: #555;
}

.popular-menu h3 {
  font-size: 15px;
  font-family: 'Prompt', sans-serif;
  display: inline !important;
}

.popular-menu .see-all-link-selected {
  color: #d00807;
  text-decoration: underline;
}

.popular-menu .see-all-link:not(.see-all-link-selected):hover {
  color: #d00807;
}

.popular-menu .see-all-link {
  font-size: 14;
  font-weight: 500;
  font-family: 'Prompt', sans-serif;
  cursor: pointer !important;
}

.popular-menu .content .text span {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
}

.popular-menu .content .text .price {
  font-size: 12px;
  color: #d00807;
}
