/*categories*/
.categories .content {
  position: relative;
  margin-bottom: 20px;
}

.categories .content:last-child {
  margin-bottom: 0;
}

.categories .content .mask {
  background: linear-gradient(rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5));
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
}

.categories .content img {
  width: 100%;
  height: 188px;
  border-radius: 6px;
  object-fit: cover;
}

.categories .content .title {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.categories .content .title h4 {
  color: #fff;
  font-size: 20px;
}
